@page
@model GuestBookRazorPages.Pages.Messages.DetailsModel

@{
    ViewData["Title"] = "Details";
}


<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Messages.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Messages.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Messages.User.Login)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Messages.User.Login)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Messages.Mesage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Messages.Mesage)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="/Messages/Index">Back to List</a>
</div>
